@charset "utf-8";
#com {
	background-color: #FFFFCC;
	height:auto;
	width: 955px;
	margin:auto;
}
#com #head {
	background-color: #999900;
	height: 150px;
	width: 955px;
}
#com #fonter {
	background-color:#CCCCCC;
	height: 130px;
	width: 955px;
}
